header {
	margin-bottom: 40px;
    text-align: center;
}
main {
	text-align: center;
} 
table, form {
	text-align: left;
}
.media {
	text-align: left;
}
img {
	margin-top: 20px;
	margin-bottom: 60px;
}
.footer {
	margin-top: 20px;
}